*{
    margin:0;
}

body{
    font-family: arial;
    background-color: 
}
.flex-btn{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
}
header.site-header{
height: 20vh;
text-align: center;
background-color: black;

}

header.site-header h1{
    color: aliceblue;
    text-align: center;
    padding:1rem;
    text-shadow: none;  
    font-size:40px;
}

nav{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1rem;
    text-align: right;
}
nav a{
    color: white;
    text-decoration: none;
    margin-right: 1rem;
}

h1{
    text-align: center;
}
h2{
    text-align:center;
    margin:1rem;
}

.form-container{
    background-color: lightgray;
    width:60%;
    border-radius: 10px;
    padding: 2rem;
    margin-right: auto;
    margin-left: auto;

}

.input-container{
    display: flex;
    flex-direction: row; 
    padding:0.5rem;
}

.input-container label{
    flex-basis: 20%;
    text-align: left;
    margin-right: 1rem;

}

.input-container input,.input-container select{
    flex-basis:80%;
    padding: 3px;
    font-size: 16px;

}
.btn{
    padding:1rem;
    border:none;
    background-color: rgba(16, 17, 16, 0.397);
    
}
table, th, td{
    margin-left: 20vh;
    border:2px solid;

}
.input-error{
    border:1px solid;
    background-color: crimson;
}
.hide{
    display:none;

}
#alert-error{
    background-color: red;
    font-size: 12px;
    margin: 1rem 0 0rem auto;
    width:80%;
}